<body>
<h1>Add A CREATURE TO THE BOG</h1>
<br>
<form action="/creatures" method="post">
          Name <input type="text" name="creatures[name]"><br>
          Kind <input type="text" name="creatures[kind]"><br>
   Description <textarea name="creatures[description]"></textarea>
    <%= token_tag form_authenticity_token %>
    <button> Save Creature </button>
</form>

<a href="/creatures"><button>HOME</button></a>
</body>